.App {
  max-height: 100vh;
  background-image: url('./assets/images/background.png');
  background-repeat: repeat;
  background-color: #80AF72;
  background-size: contain;
}

@media screen and (max-width: 1210px) {
  .App {
    background-repeat: no-repeat;
  }
}

.content {
  overflow-y: auto;
  height: 100vh;
}